@font-face {
    font-family: "Poppins-Bold";
    src: local("Poppins-Bold"),
        url("../../public/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 500, 700;
}


$main-color: #9E9AA8;
$font-bold: "Poppins-Bold", sans-serif;

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 282px;
    background-color: #FFFFFF;
    min-height: 800px;
    
}





.Head-content {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 0 167px;
    
    .Text-content {
        width: 563px;
        height: 351px;
        transform: translateY(-145px);


        h1 {
            width: 563px;

            font-size: 70px;
            font-family: $font-bold;

        }

        p {
            font-size: 22px;
            opacity: 0.8;
            margin-bottom: 50px;
        }
    }

    .workingImage {

        transform: translateX(100px) translateY(-200px);
        ;
    }
}


.button {
    background-color: #2BD0D0 !important;
    border: #2BD0D0 !important;
    border-radius: 100px !important;
    width: 197px;
    height: 56px;
    font-weight: 700;
}
.button:hover {
    background-color: #9AE3E3 !important;
    border: #9AE3E3 !important;
    
}

.Shorten-input {
    transform: translateY(-85px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1110px;
    height: 168px;
    background-color: #4B3F6B;
    background-image: url(../images/bg-shorten-desktop.svg);
    background: url('../images/bg-shorten-desktop.svg'), #3A3054;
    border-radius: 10px !important;
}

.link-input {
    width: 769px;
    height: 64px;
    border: none;
}

.link-submit {
    font-weight: bolder;
    width: 188px;
    height: 64px;
    font-size: 20px !important;

}